In [3]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('C:/Users/Rahul Soni/Downloads/StudentsPerformance.csv')

In [12]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [14]:
X = df.drop('math score', axis=1)

In [16]:
X

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [18]:
Y = df['math score']

In [20]:
Y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [72]:
X_train.shape

(750, 7)

In [74]:
Y_train.shape

(750,)

In [76]:
X_test.shape

(250, 7)

In [78]:
Y_test.shape

(250,)

In [80]:
x1 = Y_train.mean()
x2 = Y_test.mean()

d = 0

s1 = Y_train.std()
s2 = Y_test.std()

n1 = Y_train.shape[0]
n2 = Y_test.shape[0]
print(x1, x2, d, s1, s2, n1, n2)

66.34266666666667 65.328 0 15.286272918598506 14.791333618061735 750 250

In [82]:
import math
z = (x1 - x2 - d) / math.sqrt((s1**2 / n1) + (s2**2 / n2))

In [84]:
print(z)

0.9314379942900398

In [90]:
from statsmodels.stats.weightstats import ztest

ztest, pval = ztest(Y_train, Y_test)

In [92]:
print(ztest)

0.9162240834679604